<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="SymphonyLtdConnectionString" connectionString="Data Source=.;Initial Catalog=SymphonyLtd;User ID=sa;Password=12345678" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="eBankSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:42465/webBank/eBank.asmx"
        binding="basicHttpBinding" bindingConfiguration="eBankSoap"
        contract="eBank.eBankSoap" name="eBankSoap" />
    </client>
  </system.serviceModel>
</configuration>